
@font-face
  font-family: "Open Sans"
  src: url('./../fonts/OpenSans-Regular.ttf')

@font-face
  font-family: "Open Sans Semibold"
  src: url('./../fonts/OpenSans-Semibold.ttf')

@font-face
  font-family: "Open Sans Bold"
  src: url('./../fonts/OpenSans-Bold.ttf')

@font-face
  font-family: "Quicksand"
  src: url('./../fonts/Quicksand-Regular.otf')

@font-face
  font-family: "Quicksand Bold"
  src: url('./../fonts/Quicksand-Bold.otf')

\:root
  --txt-color: #434343
  --back-color: #F3F3F3

body
  margin: 0

body, input, textarea, button
  font-family: "Open Sans"
  color: var(--txt-color)
  background-color: var(--back-color)

